body {
    background: #A3F8EA;
}

#selfie {
    width: 22%;
    height: auto;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    border-style: outset;
    border-width: 10px;
    border-color: #00AB8E;
}

p {
    text-align: left;
    font-size: 35px;
    margin-left: 55%;
    padding: 10px;
    position: absolute;
}

#name {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

table {
    display: inline;
}

#SuperMetroid {
    display: inline;
}

.gamePair {
    display: inline;
}

.gamePics {
    width: 450px;
    margin-left: 35%;
    padding-top: 35px;
}

.quote {
    margin: 0;
}